{% extends "base.html" %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
<br> 
<br> 
<br> 
<br> 
<h2>When you want a new playlist, but don't want to do any work</h2>
<br> 

<img src="./static/sPoTiFy.png" alt="Bad Logo">


<div>
    <h4 style="text-align: left; padding-left: 5%;" >What is SDNP?</h4>
    <p style="text-align: left; padding-left: 5%;"> 
        This is an online app that allows you to get new music playlists based off of your music preferences, 
        the more filters you apply to a specific playlist, the more uniquely tuned the new playlist will be.
        This is a playlist creation system solely based off of what filters you put on a specific playlist.
    <br>
    <h4 style="text-align: left; padding-left: 5%;" > How does it work?</h4>
    <p style="text-align: left; padding-left: 5%;"> 
        You can create new playlists for every mood! just select a playlist and filter, and name it!
    </p>
    <br>
    <br>
</div>

{% endblock%}