{% extends "base.html" %}
{% block head %}
 {{ super() }}
{% endblock %}
{% block body %}
<br> 
<br> 
<br> 
<br> 
<h2>When you want a new playlist, but don't want to do any work</h2>
<br> 

<img src="./static/sPoTiFy.png" alt="Bad Logo">


<div>

    <p style="text-align: left; padding-left: 5%;"> <b> Main developers:</b> Marlo Terr  |  Marissa Montano  |  Jorge Moreno</p>
    <br>
    <p style="text-align: left; padding-left: 5%;"> <b>Git Repository:</b> https://github.com/mate6483/OOP-Projects </p>
    <br>
    <p style="text-align: left; padding-left: 5%;"> <b>Contact:</b> NEVER, STAY 6ft AWAY </p>

</div>

{% endblock%}