<!DOCTYPE html>
<html>
    <head>
        <title> Page Not Found </title>
        <link rel="stylesheet" href="./static/style/404Style.css" type="text/css">
    </head>
    <body>
        <div class="header">
            <h1>Spot Dat New Playlist</h1>
        </div>
        <hr>
        <div class="pnf">
            <h1>Page Not Found: Error 404</h1>
            <p>No idea what you wanted to do, but you can't... srry<p>
            <a href="{{ url_for('home') }}">Try again</a>
        </div>
    </body>
</html>
